#search-left {
	border-right-width: 10px;
	border-right-style: solid;
	border-color: red;
	height: 600px;
	
	
	padding-top: 5%;
	padding-left: 10%;
	padding-right: 10%;
}

#search-right {	
	padding-top: 10%;
	padding-left: 10%;
	padding-right: 10%;
}

#search-wrapper {
	padding-top: 25px;
}

#search-button {
	padding-top: 25px;
	text-align: center;
}

.label--required {
	font-size: 1.5em;
}

.form__group {
	text-indent: 20px;
}

.label {
	font-size: 1.5em;
}